<!-- #1. iframe version -->
<!-- <iframe id="ytplayer" type="text/html" width="720" height="405" src="{{ options.src }}" frameborder="0" allowfullscreen> -->
<!-- Option 2 for Iframe version. -->
<iframe width="630" height="320" frameborder="0" allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/{{ options.vid }}?autoplay=0&amp;start=0&amp;rel=0"></iframe>

<!-- #2. Flash Version -->
<!-- <object width="640" height="390">
  <param name="movie"
         value="{{ options.src }}"></param>
  <param name="allowScriptAccess" value="always"></param>
  <embed src="{{ options.src }}"
         type="application/x-shockwave-flash"
         allowscriptaccess="always"
         width="640" height="390"></embed>
</object> -->


<!-- {{ options | json_encode() }} -->

<!-- <h1>File ID : {{ options.value }}</h1>